@import "~@/styles/base/vw"
@import "~@/styles/theme/color"

.container
  .search-box
    padding: vw(10) vw(20)
    background: #efefef
    border-bottom: vw(1) solid $border-color
    .search
      height: vw(35)
      line-height: vw(35)
      text-align: center
      border-radius: vw(4)
      background: #fff
      color: $text-placeholder
      border: vw(1) solid #dedede 
  .list-box
    padding-left: vw(20)
    padding-bottom: vw(40)
    .item
      display: flex
      align-items: center
      height: vw(60)
      border-bottom: vw(1) solid $border-color
      .i-img,.i-img image
        width: vw(46)
        height: vw(46)
        border-radius: vw(46)
      .i-img
        display: flex
        align-items: center
        justify-content: center
        background: #efefef
        box-sizing: content-box
      .i-girl
        border:vw(1) solid #fbb1c6!important
      .i-boy
        border:vw(1) solid #9ecbf9!important
  .no-more
    text-align: center
    color: $text-secondary
      
  
