@import "../../styles/vw"
@import "../../styles/color"

.container
  padding: 0 vw(30)
  .top
    display: flex
    align-items: center
    justify-content: center
    height: vw(140)
    .t-font
      color: $txt-black
      font-size: vw(30)
      font-weight: 100

  
