
@import '../../styles/vw';

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 50rpx;
	background: #ffffff;
	box-sizing: border-box;
}

.info{
	display: flex;
	flex-direction: column;
	.logo{
		width: 80px;
		height: 80px;
		border-radius: 80px;
		margin: 100rpx auto 30rpx;
		border: 1px solid #f5f5f5;
		overflow: hidden;
		image {
			width: 80px;
			height: 80px;
		}
	}
	.title{
		text-align: center;
	}
	.txt-right{
		text-align: right;
	}
}