
@import '~@/styles/base/vw'
@import '~@/styles/theme/color'

.container
	display: flex
	flex-direction: column
	justify-content: center
	height: 100vh
	padding-top: vw(50)
	background: #efefef
.top
	display: flex
	justify-content: space-between
	.date
		display: flex
		.d-right
			display: flex
			flex-direction: column
			justify-content: space-around
	.refresh
		display: flex
		flex-direction: column
.swiper
	height: vw(480)
	.swiper-item
		display: flex
		justify-content: center
		align-items: center
		width: vw(280)
		height: vw(420)
		.item-box
			position: relative
			width: vw(300)
			height: vw(420)
			padding: vw(10) vw(10) 0 vw(10)
			border-radius: vw(4)
			background: $color-white
			color: $text-default
			overflow: hidden
			box-shadow: 0 0 vw(40) rgba(0, 0, 0, .03), 0 0 vw(10) rgba(0, 0, 0, .05)
			.i-img, .i-img image
				width: vw(280)
				height: vw(400)
			.i-btn
				position: absolute
				left: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: space-between
				width: vw(300)
				height: vw(50)
				background: $color-white
				color: $text-deputy
				box-shadow: 0 -50rpx vw(80) rgba(255, 255, 255, 1), 0 -50rpx vw(20) rgba(255, 255, 255, 1)
			.i-b-know
				width: vw(50)
				height: vw(30)
				border-radius: vw(30)
				line-height: vw(30)
				text-align: center
				background: $color-primary
				color: $color-white
				
