@import "~@/styles/base/vw"
@import "~@/styles/theme/color"

.container
  .top-text
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 45vh
    background: $color-primary
    color: $color-white
    font-size: vw(20)
    font-weight: 200
  .btn
    margin-top: vw(60)
    background: $color-primary
    color: $color-white
  .enterprise
    padding: 0 vw(20)
    .item
      display: flex
      align-items: center
      flex-wrap: wrap
      height: vw(80)
      padding: 0 vw(15)
      margin-top: vw(10)
      border: vw(1) solid $border-color
      border-radius: vw(4)
      .logo, .logo image
        width: vw(50)
        height: vw(50)
        border-radius: vw(50)
  .text-secondary
    padding-top: vw(20)
    text-align: center
        
  
