@import '../vw'

.p-t-10
  padding-top: vw(10) !important
.p-t-15
  padding-top: vw(15) !important
.p-t-20
  padding-top: vw(20) !important

.p-r-10
  padding-right: vw(10) !important
.p-r-15
  padding-right: vw(15) !important
.p-r-20
  padding-right: vw(20) !important

.p-b-10
  padding-bottom: vw(10) !important
.p-b-15
  padding-bottom: vw(15) !important
.p-b-20
  padding-bottom: vw(20) !important

.p-l-10
  padding-left: vw(10) !important
.p-l-15
  padding-left: vw(15) !important
.p-l-20
  padding-left: vw(20) !important